<mat-form-field style="width: 30%; margin-left: 10%; margin-top: 5%;">
    <mat-label>Enter your work</mat-label>
    <input matInput>
  </mat-form-field><br>
  <mat-form-field style="width: 30%; margin-left: 10%;">
  <mat-label>Select your Time </mat-label>
  <mat-select>
    <mat-option value="one">Morning</mat-option>
    <mat-option value="two">Afternoon</mat-option>
  </mat-select>
</mat-form-field><br>
<mat-form-field style="width: 30%; margin-left: 10%;">
  <mat-label>Your Opinion</mat-label>
  <textarea matInput></textarea>
</mat-form-field><br><br>
<mat-radio-button style="width: 40%; margin-left: 20%;">Male</mat-radio-button><br><br>
<mat-radio-button style="width: 40%; margin-left: 20%;">Female</mat-radio-button><br><br>
<a href= '../two'><button style="margin-left: 20%;"class="banubutton" mat-raised-button>Login</button></a>
